# docker-compose.prod.yml
# Ce fichier est utilisé pour la production avec la commande :
# docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

# version: '3.8'

services:
  node_app:
    user: "0:0"  # Exécuter en tant que root pour accéder aux certificats SSL
    environment:
      - NODE_ENV=production
    volumes:
      # Montage des certificats SSL pour HTTPS en production (lecture seule)
      - /etc/ssl/certs/si-10.cen-champagne-ardenne.org:/etc/ssl/certs/si-10.cen-champagne-ardenne.org:ro
      
      # Montage du répertoire de stockage des données de l'application (lecture/écriture)
      - /mnt/storage_data/app/:/mnt/storage_data/app/